<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="col-lg-6">
        <form role="form" name="addForm" class="form-group-sm">
                <legend>Add Student</legend>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                ID: {{userId}}<br/>
                                <select ng-model="roleName" ng-options="role for role in roles"></select>
                                <input class="form-control" type="text" ng-model="fName" placeholder="Enter first name" required/>
                                <input class="form-control" type="text" ng-model="lName" placeholder="Enter last name" required/>
                                <input class="form-control" type="text" ng-model="address" placeholder="Enter address" required/>
                                <input class="form-control" type="text" ng-model="city" placeholder="Enter city" required/>
                                <input class="form-control" type="number" ng-model="zip" placeholder="Enter zip" required/>
                                <input class="form-control" type="number" ng-model="phone" placeholder="Enter phone" required/>
                                <input class="form-control" type="text" ng-model="email" placeholder="Enter email" required/>
                        </div>
                </div>

                <div class="col-lg-12">
                        <button ng-disabled="addForm.$invalid" ng-click="addNewUser()" class="btn btn-sm btn-success">Add User</button>
                </div>

        </form>
</div>
