<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<!--Edit Class-->
<div class="col-lg-6" ng-controller="EditClassCtrl">
        <form role="form" name="editForm" class="form-group-sm">
                <legend>Edit Class</legend>

                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>Select a class:</label><br/>
                                <select class="form-control" ng-model="editSelectedClass"
                                        ng-options="class.semester + '. semester - ' + class._id for class in classes">
                                </select>
                        </div>
                </div>
                <div class="col-lg-12"></div>

                <div class="col-lg-5">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>Students:</label><br/>
                                <select class="form-control" ng-model="editSelectedStudent" multiple style="height: 10em"
                                        ng-options="student for student in editSelectedClass.students"></select>
                        </div>
                </div>
                <div class="col-lg-1" style="padding: 0em">
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="addStudentToClass(allSelectedStudent)">
                                <span class="glyphicon glyphicon-backward"></span>
                        </button>
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="removeStudentFromClass(editSelectedStudent)">
                                <span class="glyphicon glyphicon-forward"></span>
                        </button>
                </div>

                <div class="col-lg-5" style="padding: 0em">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>All:</label><br/>
                                <select class="form-control" ng-model="allSelectedStudent" multiple style="height: 10em"
                                        ng-options="student._id for student in students"></select>
                        </div>
                </div>



                <div class="col-lg-12"></div>

                <div class="col-lg-5">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>Teachers:</label><br/>
                                <select class="form-control" ng-model="editSelectedTeacher" multiple style="height: 10em"
                                        ng-options="teacher for teacher in editSelectedClass.teachers"></select>
                        </div>
                </div>
                <div class="col-lg-1" style="padding: 0em">
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="addTeacherToClass(allSelectedTeacher)">
                                <span class="glyphicon glyphicon-backward"></span>
                        </button>
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="removeTeacherFromClass(editSelectedTeacher)">
                                <span class="glyphicon glyphicon-forward"></span>
                        </button>
                </div>

                <div class="col-lg-5" style="padding: 0em">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>All:</label><br/>
                                <select class="form-control" ng-model="allSelectedTeacher" multiple style="height: 10em"
                                        ng-options="teacher._id for teacher in teachers"></select>
                        </div>
                </div>

                <div class="col-lg-12">
                        <button ng-disabled="editForm.$invalid" ng-click="updateClass()" class="btn btn-sm btn-success">Update class</button>
                </div>
        </form>
</div>