<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<br/>
<select ng-model="selectedClass" ng-options="class._id for class in classes"
        ng-click="getPeriodsByClassId(selectedClass._id)">
  <option value="">-- Choose Class --</option>
</select>
<select ng-model="selectedPeriod" ng-options="period._id for period in periods"
        ng-click="getDailyPointsByPeriod(selectedPeriod._id)">
  <option value="">-- Choose Period --</option>
</select>
<br/>
<br/>

<table class="table">
  <tr>
    <th></th>
    <th colspan="5" ng-repeat="week in weeks">Week {{week}}</th>
    <th></th>
  </tr>
  <tr>
    <th>Name \ day</th>
    <th ng-repeat="day in days track by $index">{{day}}</th>
    <th>Total</th>
  </tr>
  <tr ng-repeat="dailyPoints in studentsDailyPoints">
    <th>{{dailyPoints.student.fName}} {{dailyPoints.student.lName}}</th>
    <td ng-repeat="points in dailyPoints.dailyPoints track by $index">
      <input type="checkbox" ng-model="dailyPoints.dailyPoints[$index]"/>
    </td>
    <td>{{studentsTotalPoints(dailyPoints.dailyPoints)}}</td>
  </tr>
  <tr data-ng-repeat="dailyPoints in studentsDailyPoints">
    {{dailyPoints.student.fName}} {{dailyPoints.student.lName}}
  </tr>

</table>

<button style="float: right" class="btn btn-success" ng-click="updatePoints()">add</button>