<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p>This is the partial for view 3.</p>
<p>Data is fetched from a REST service, connected to MongoDB </p>
<div class="col-lg-12">
  <table class="table">
    <thead>
    <tr>
      <td><a href="" ng-click="predicate = 'student._id'; reverse=!reverse">ID</a>
      <td><a href="" ng-click="predicate = 'fName'; reverse=!reverse">Name</a>
        <input type="search" ng-model="search.fName" placeholder="Search name">
      </td>
      <td><a href="" ng-click="predicate = 'semester'; reverse=!reverse">Semester</a></td>
      <td><a href="" ng-click="predicate = 'class'; reverse=!reverse">Class</a>
        <select ng-model="filter">
          <option value="">Any</option>
          <option ng-repeat="class in classes">{{class._id}}</option>
        </select>
      </td>
      <td><a href="" ng-click="predicate = 'points'; reverse=!reverse">Points</a></td>
    </tr>
    </thead>
    <tbody ng-repeat="class in classes">
    <tr ng-repeat="student in class.students | orderBy:predicate:reverse | filter:filter | filter:search">
      <td>{{student._id}}</td>
      <td>{{student.fName}} {{student.lName}}</td>
      <td>{{class.semester}}</td>
      <td>{{class._id}}</td>
      <td ng-class="">{{getSum(user.tasks)}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-12" ng-repeat="class in classes">
  <ul  ng-repeat="student in class.students">
    <li> {{student}}</li>
  </ul>

</div>
        {{classes}}
