<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p>This is the partial for view 3.</p>
<p>Data is fetched from a REST service, connected to MongoDB </p>
<div class="col-lg-12">
  <table class="table">
    <thead>
    <tr>
      <td><a href="" ng-click="predicate = 'fullname.lname'; reverse=!reverse">Name</a>
        <input type="search" ng-model="search.fullname" placeholder="Search name">
      </td>
      <td><a href="" ng-click="predicate = 'semester'; reverse=!reverse">Semester</a></td>
      <td><a href="" ng-click="predicate = 'class'; reverse=!reverse">Class</a>
        <select ng-model="filter">
          <option value="">Any</option>
          <option ng-repeat="class in getClasses()">{{class}}</option>
        </select>
      </td>
      <td><a href="" ng-click="predicate = 'points'; reverse=!reverse">Points</a></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:filter | filter:search">
      <td>{{user.fullname.lname}}, {{user.fullname.fname}}</td>
      <td>{{user.semester}}</td>
      <td>{{user.class}}</td>
      <td>{{user.points}}</td>
    </tr>
    </tbody>
  </table>
</div>

<ul>
  <li ng-repeat="user in users"> {{user}}</li>
</ul>
</p>
