<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="col-lg-6">
        <form role="form" name="classForm" class="form-group-sm">
                <legend>Add Class</legend>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Enter class name:</label><br/>
                                <input type="text" class="form-control" ng-model="classId" required/>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Select a semester:</label><br/>
                                <select class="form-control" ng-model="classSelectedSemester"
                                        ng-options="semester._id + '. semester' for semester in semesters">
                                </select>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Add Students:</label><br/>
                                <div class="col-lg-9" style="padding: 0px">
                                        <select class="form-control" ng-model="classSelectedStudent"
                                                ng-options="student.fName+ ' ' + student.lName for student in students"></select>
                                </div>
                                <div class="col-lg-2">
                                        <button class="btn btn-sm btn-primary" ng-click="addStudent(classSelectedStudent._id)">Add</button><br/>
                                </div>
                                <div class="col-lg-12 well well-sm">
                                        <div ng-repeat="student in classStudents">
                                                {{student}}
                                        </div>
                                </div>

                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Add Teachers:</label><br/>
                                <div class="col-lg-9" style="padding: 0px">
                                        <select class="form-control" ng-model="classSelectedTeacher"
                                                ng-options="teacher.fName+ ' ' + teacher.lName for teacher in teachers"></select>
                                </div>
                                <div class="col-lg-2">
                                        <button class="btn btn-sm btn-primary" ng-click="addTeacher(classSelectedTeacher._id)">Add</button>
                                </div>
                                <div class="col-lg-12 well well-sm">
                                        <div ng-repeat="teacher in classTeachers">
                                                {{teacher}}
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-lg-12">
                        <button ng-disabled="classForm.$invalid" ng-click="addNewClass()" class="btn btn-sm btn-success">add class</button>
                </div>

        </form>
</div>

<div class="col-lg-6">
        <form role="form" name="classForm" class="form-group-sm">
                <legend>Add Class</legend>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Enter class name:</label><br/>
                                <input type="text" class="form-control" ng-model="classId" required/>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Select a semester:</label><br/>
                                <select class="form-control" ng-model="classSelectedSemester"
                                        ng-options="semester._id + '. semester' for semester in semesters">
                                </select>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Add Students:</label><br/>
                                <div class="col-lg-9" style="padding: 0px">
                                        <select class="form-control" ng-model="classSelectedStudent"
                                                ng-options="student.fName+ ' ' + student.lName for student in students"></select>
                                </div>
                                <div class="col-lg-2">
                                        <button class="btn btn-sm btn-primary" ng-click="addStudent(classSelectedStudent._id)">Add</button><br/>
                                </div>
                                <div class="col-lg-12 well well-sm">
                                        <div ng-repeat="student in classStudents">
                                                {{student}}
                                        </div>
                                </div>

                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Add Teachers:</label><br/>
                                <div class="col-lg-9" style="padding: 0px">
                                        <select class="form-control" ng-model="classSelectedTeacher"
                                                ng-options="teacher.fName+ ' ' + teacher.lName for teacher in teachers"></select>
                                </div>
                                <div class="col-lg-2">
                                        <button class="btn btn-sm btn-primary" ng-click="addTeacher(classSelectedTeacher._id)">Add</button>
                                </div>
                                <div class="col-lg-12 well well-sm">
                                        <div ng-repeat="teacher in classTeachers">
                                                {{teacher}}
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-lg-12">
                        <button ng-disabled="classForm.$invalid" ng-click="addNewClass()" class="btn btn-sm btn-success">add class</button>
                </div>

        </form>
</div>
