<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="col-lg-12" style="padding: 0px" ng-repeat="class in classes">
  <div ng-click="toggle = !toggle">
    <label class="text-primary">{{class.semester}}. semester - {{class._id}}</label>
  </div>
  <div class="col-lg-8" style="padding: 0px" ng-show="toggle">
    <table class="table">
      <tr>
        <th><a href="" ng-click="predicate = '_id'; reverse=!reverse" style="text-decoration: none">ID/Username</a></th>
        <th><a href="" ng-click="predicate = 'fName'; reverse=!reverse">Name</a>
          <input type="search" ng-model="search.$" placeholder="Search name">
        </th>
        <th><a href="" ng-click="predicate = 'dailyPoints'; reverse=!reverse">Daily Points</a></th>
      </tr>

      <tr ng-repeat="student in class.students | orderBy:predicate:reverse | filter:filter | filter:search">
        <td>{{student._id}}</td>
        <td>{{student.fName}} {{student.lName}}</td>
        <td >
          <button class="btn btn-sm" ng-click="updateDailyPoints(student,'minus')">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn btn-sm" ng-click="updateDailyPoints(student,'plus')">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{student.dailyPoints}}
        </td>
      </tr>
    </table>
  </div>
</div>
