<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="col-lg-12" style="padding: 0px">
  <select ng-options="semester as semester._id for semester in semesters" ng-model="selectedSemester" ng-change="getClasses(selectedSemester._id)">
    <option value="">Select Semester</option>
  </select>
</div>

<div class="col-lg-12" style="padding: 0px">
  <select ng-options="class as class._id for class in classes" ng-model="selectedClass">
    <option value="">Select Class</option>
  </select>
</div>

<div class="col-lg-12" style="padding: 0px">
  Teachers:
  {{selectedClass.teachers}}
</div>
<div class="col-lg-12" style="padding: 0px">
  Students:
  {{selectedClass.students}}
</div>


