<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<div class="col-lg-6">
        <form role="form" name="addForm" class="form-group-sm">
                <legend>Add Period</legend>
                <div class="col-lg-6">
                        <label>Enter period name:</label><br/>
                        <input class="form-control" type="text" ng-model="newPeriod._id" required/>
                </div>
                <div class="col-lg-12"></div>
                <div class="col-lg-6">
                        <label>Select Class:</label><br/>
                        <select class="form-control" ng-model="newPeriod.classes" size="5" style="height: 10em" required>
                                <option ng-repeat="classe in classes" value="{{classe._id}}">
                                        {{classe.semester}}.semester - {{classe._id}}
                                </option>
                        </select>
                </div>

                <div class="col-lg-12">
                        <label>Add Description:</label><br/>
                        <input class="form-control" type="text" ng-model="newPeriod.description" required/>
                </div>

                <div class="col-lg-6">
                        <label>Add Start Date</label><br/>
                        <input class="form-control" type="date" ng-model="newPeriod.sDate" required/>
                </div>
                <div class="col-lg-6">
                        <label>Add End Date</label><br/>
                        <input class="form-control" type="date" ng-model="newPeriod.eDate" required/>
                </div>
                <div class="col-lg-6">
                        <label>Enter Max Points</label><br/>
                        <input class="form-control" type="number" ng-model="newPeriod.maxPoints" required/>

                </div>
                <div class="col-lg-6">
                        <label>Enter Required Points</label><br/>
                        <input class="form-control" type="number" ng-model="newPeriod.requiredPoints" required/>
                </div>
                <div class="col-lg-12">
                        <button ng-disabled="addForm.$invalid" ng-click="addNewPeriod()" class="btn btn-sm btn-success">Add Period</button>
                </div>

        </form>
</div>

<div class="col-lg-6">
        <form role="form" name="editForm" class="form-group-sm">
                <legend>Edit Period</legend>

                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>Select a period:</label><br/>
                                <select class="form-control" ng-model="editSelectedPeriod"
                                        ng-options="period._id + ' classes: ' + period.classes for period in periods">
                                </select>
                        </div>

                </div>
                <div class="col-lg-12"></div>

                <div class="col-lg-5">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>All Classes:</label><br/>
                                <select class="form-control" ng-model="editAllSelectedClasses" multiple style="height: 10em"
                                        ng-options="student._id for student in classes"></select>
                        </div>
                </div>
                <div class="col-lg-1" style="padding: 0em">
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="addClassesToSelectedPeriod(editAllSelectedClasses)">
                                <span class="glyphicon glyphicon-forward"></span>
                        </button>
                        <br/><br/>
                        <button class="btn btn-sm btn-primary" ng-click="removeClassesFromSelectedPeriod(editSelectedClasses)">
                                <span class="glyphicon glyphicon-backward"></span>
                        </button>
                </div>

                <div class="col-lg-5" style="padding: 0em">
                        <div class="col-lg-12" style="padding: 0em">
                                <label>Selected Classes:</label><br/>
                                <select class="form-control" ng-model="editSelectedClasses" multiple style="height: 10em"
                                        ng-options="class for class in editSelectedPeriod.classes"></select>
                        </div>
                </div>

                {{editSelectedPeriod.description}}

                <div class="col-lg-12">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Description:</label><br/>
                                <input class="form-control" type="text" ng-model="editSelectedPeriod.description" required/>
                        </div>
                </div>

                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Start Date</label><br/>
                                <input class="form-control" type="date" ng-model="editSelectedPeriod.sDate"/>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Add End Date</label><br/>
                                <input class="form-control" type="date" ng-model="editSelectedPeriod.eDate"/>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Enter Max Points</label><br/>
                                <input class="form-control" type="number" ng-model="editSelectedPeriod.maxPoints"/>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="col-lg-12" style="padding: 0px">
                                <label>Enter Required Points</label><br/>
                                <input class="form-control" type="number" ng-model="editSelectedPeriod.requiredPoints"/>
                        </div>
                </div>
                <div class="col-lg-12">
                        <button ng-click="updatePeriod()" class="btn btn-sm btn-success">Update Period</button>
                </div>
        </form>
</div>
